<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.drug.tanlong.dao.SalesDao" >


    <insert id="salesadd" parameterType="com.guigu.drug.tanlong.pojo.Sales" >

        insert into sales(drugid,supplierid,userid,squantity,sprice,stime) values(#{drugid},#{supplierid},#{userid},#{squantity},#{sprice},#{stime});

    </insert>


</mapper>