<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.drug.tanlong.dao.SupplierInfoDao" >

        <select id="suppsel" resultType="com.guigu.drug.tanlong.pojo.SupplierInfo">

            select * from supplierinfo

        </select>

</mapper>