<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.drug.yxy.dao.TreenavMapper" >
    <select id="findtreenavbynid" parameterType="int" resultType="com.guigu.drug.yxy.domain.Treenav">
        select * from treenav where nid=#{nid}
    </select>

</mapper>
