<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.drug.yxy.dao.UserinfoMapper" >
    <select id="finduserinfobyaccount" parameterType="com.guigu.drug.yxy.domain.Userinfo" resultType="com.guigu.drug.yxy.domain.Userinfo">
        select * from userinfo u,role r where u.rid=r.rid and account=#{account}
    </select>
    <select id="finduserinfobyuserid" parameterType="int" resultType="com.guigu.drug.yxy.domain.Userinfo">
        select * from userinfo where userid=#{userid}
    </select>
    <insert id="adduserinfo" parameterType="com.guigu.drug.yxy.domain.Userinfo">
        INSERT INTO userinfo(account,password,username,sex,age,phone,rid,workstate) values(#{account},#{password},#{username},#{sex},#{age},#{phone},#{rid},"在职中")
    </insert>
    <update id="updateuserinfo" parameterType="com.guigu.drug.yxy.domain.Userinfo">
        update userinfo set username=#{username},account=#{account},sex=#{sex},age=#{age},rid=#{rid},phone=#{phone} where userid=#{userid}
    </update>
    <select id="finduserinfo" parameterType="com.guigu.drug.yxy.domain.Userinfo" resultType="com.guigu.drug.yxy.domain.Userinfo">
        select u.*,r.rname,d.did,d.dname from userinfo u,role r,dept d where u.rid=r.rid and r.did=d.did
        <if test="did!=0">
            and r.did=#{did}
        </if>
        <if test="username!='' or username!=null">
            and u.username like "%"#{username}"%"
        </if>
    </select>

    <select id="finddept" resultType="com.guigu.drug.yxy.domain.Dept">
        select * from dept
    </select>

</mapper>